doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='shortcut icon', type='image/png', href='/login/icon/login.png')
	title Sign up
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/login/css/style.css')
.wrapper
	#formContent
		div
			h1 Sign Up
		if msgCheck
			p.alert.alert-danger.m-3 #{msgCheck}
		if message
			p.alert.alert-danger.m-3 #{message}
		form(action='/register', method='POST', onsubmit="return validate();")
			input#fullname.second(type='text', name='fullname', placeholder='Full name' required='' value=newUser ? newUser.fullname : "")
			input#username.second(type='text', name='username', placeholder='Username' value=newUser ? newUser.username : "")
			input#password.second(type='password', name='password', placeholder='Password')
			input.fourth(type='submit', value='Sign Up')
			p#error(style="color: red; font-size: 14px")
		#formFooter
			a.underlineHover(href='/auth/login') Sign In
script(src='/utils/jquery-3.4.1.slim.min.js')
script(src='/utils/popper.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src="/login/js/form.js")
